---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SummaryCard from "../components/SummaryCard.astro";
import GoalCard from "../components/GoalCard.astro";
import AboutCard from "../components/AboutCard.astro";
---

<Layout title="NoahBRAVE 5K">
  <Header client:load />
  <main>
    <div class="section">
      <div class="container max-desktop">
        <div class="columns is-vcentered">
          <div class="column">
            <figure>
              <img src="images/5k-logo.webp" alt="NoahBRAVE 5K" />
            </figure>
          </div>
          <div class="column is-one-third">
            <SummaryCard />
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container max-desktop">
        <div class="columns">
          <div class="column">
            <h1 class="is-size-1">About 4th Annual NoahBRAVE 5K</h1>
            <hr />
            <h2 class="is-size-4">
              The NoahBRAVE 5K will take place in the month of September,
              Childhood Cancer Awareness Month and Noah's Diagnosis Month.
            </h2>
            <p class="mt-4">
              September 2020 was the inagural NoahBRAVE 5K, that took place on
              the one year anniversary of Noah's brain tumor diagnosis. People
              all over the world ran, walked, kayaked, and biked 3.1 miles to
              encourage Noah as he continued in his fight with terminal brain
              cancer. Ironically, Noah was in the hospital over race weekend due
              to tumor symptoms, but was able to participate a few weekends
              later with the help of the NoahBRAVE 5K race team. With the
              outpouring of support from this inagural race, we were able to
              give over $6,500 to research through the Chad Tough Defeat DIPG
              Foundation and help the Evans family with medical bills and living
              expenses.
            </p>
            <p class="mt-4">
              In 2021 and 2022, the NoahBRAVE 5K raised over $50,000. With the
              funds, we were able to help care for families and fund research
              for a cure. We paid for mortgages, utility bills, and car
              payments; we helped families travel from their hometown hospitals
              across the country to where the most promising clinical trials
              were; we paid for alternative treatments not covered by
              insurances, life flights home, and funeral expenses for children
              who passed to Heaven. We helped families through bereavement care
              and continue to offer hope and support for families walking
              through the unimaginable earthly loss of a child. We became
              research partners with ChadTough Defeat DIPG Foundation and became
              founding members of the DIPG/DMG National Tumor Board and the
              DIPG/DMG Research Funding Alliance.
            </p>
            <p class="mt-2">
              This year's NoahBRAVE 5K race will be held virtually and in person
              throughout the month of September, from September 1 thru September
              30, 2023. In-person events will take place across the United Staes
              in different locations and held on different days and times based
              on the host team for each NoahBRAVE 5K event location.
            </p>
            <p class="mt-2">
              You can participate as an individual or as a member of a team. If
              you would like to create your own team, you may do so during the
              registration process. Ask your friends, family, co-workers,
              neighbors, and anyone else you know to join your team.
            </p>
            <p class="mt-2">
              If you would like to host an in-person event, you may do so by
              emailing info@noahbrave.org
            </p>
            <p class="mt-2">
              If you would like to be a business sponsor, please click the
              "Become a Sponsor" tab above.
            </p>
          </div>
          <div class="column is-one-third">
            <div class="has-background-primary p-2">
              <GoalCard />
              <br />
              <AboutCard />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
