<div class="card">
  <div class="card-content">
    <p class="has-text-weight-bold">ABOUT NOAHBRAVE FOUNDATION</p>
    <div class="media mt-4">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="images/noahbrave-logo.webp" alt="NoahBrave Foundation" />
        </figure>
      </div>
      <div class="media-content">
        <p class="is-size-7">
          The mission of the NoahBRAVE Foundation is to raise awareness, support
          families, and fund research for a cure of pediatric brain cancer.
        </p>
      </div>
    </div>
  </div>
</div>
