<div class="card">
  <div class="card-content">
    <p class="has-text-centered">
      HELP 4TH ANNUAL NOAHBRAVE 5K REACH OUR GOAL OF RAISING $75,000
    </p>
    <figure class="image is-4by3 m-a mt-5">
      <img src="images/noah-goal.webp" alt="" />
    </figure>

    <div class="columns mt-2">
      <div class="column">
        <p>RAISED:</p>
        <p class="has-text-weight-bold">$50,747</p>
      </div>
      <div class="column">
        <p class="has-text-right">GOAL:</p>
        <p class="has-text-right has-text-weight-bold">$75,000</p>
      </div>
    </div>

    <button class="button is-primary is-fullwidth mt-5">Invite Friends</button>
  </div>
</div>
