<div class="card">
  <div class="card-content">
    <p class="has-text-centered">
      4TH ANNUAL NOAHBRAVE 5K SUPPORTING NOHABRAVE FOUNDATION
    </p>
    <figure class="image is-128x128 m-a">
      <img src="images/5k-logo.webp" alt="" />
    </figure>
    <p class="has-text-weight-bold is-size-6">470 People have registered</p>
    <hr />
    <p class="has-text-weight-bold">33 Teams have registered</p>
    <hr />
    <p class="has-text-weight-bold">$57,747 Raised</p>
    <hr />
    <p class="has-text-weight-bold">516 Donations</p>
    <button class="button is-primary is-fullwidth mt-5">Invite Friends</button>
  </div>
</div>
